# Environment
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data
data/*.nc
data/*.csv
data/*.tif
data/model_weights/
data/samples/*.tmp
*.nc
*.csv
*.tif

# Outputs
outputs/bay_marchand/*
!outputs/bay_marchand/.gitkeep
test_*_output.png
*.png

# Models
*.pth
*.pt

# IDE
.vscode/
.idea/
